<?xml version="1.0" encoding="UTF-8"?>
<server>
    <service>
        <connector port="8080" maxThread="100" protocol="HTTP/1.1"></connector>
        <!--定义资源文件的存放位置-->
        <webRoot>WebContent</webRoot>
        <notFoundPage>404.html</notFoundPage>
        <homePage>index.html</homePage>
    </service>
    <!--配置不同网页的数据类型-->
    <type-mappings>
        <type-mapping ext="html" type="text/html"></type-mapping>
        <type-mapping ext="jpg" type="image/jpeg"></type-mapping>
        <type-mapping ext="ico" type="image/ico"></type-mapping>
        <type-mapping ext="png" type="image/png"></type-mapping>
        <type-mapping ext="script" type="application/javascript"></type-mapping>

    </type-mappings>
</server>